---
const { class: className, ...props } = Astro.props;
---
<div class:list={["overflow-auto", className]}>
<table>
    <tbody>
    <tr>
    <td>
    <p>MODELO</p>
    </td>
    <td>
    <p>RESIDENCIAL</p>
    </td>
    <td>
    <p>INDUSTRIAL</p>
    </td>
    <td>
    <p>MILITAL</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>CUCHILLA</p>
    </td>
    <td>
    <p>RECTA</p>
    </td>
    <td>
    <p>TIPO ARPON</p>
    </td>
    <td>
    <p>TIPO DOBLE ARPON</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>DIAMETRO</p>
    </td>
    <td>
    <p>18” Y 24”</p>
    </td>
    <td>
    <p>18”  Y 24”</p>
    </td>
    <td>
    <p>18” Y 24”</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>LONGITUD DEL ROLLO MAXIMA PROTECCION</p>
    </td>
    <td>
    <p>8 MTS.</p>
    </td>
    <td>
    <p>8 MTS.</p>
    </td>
    <td>
    <p>8 MTS.</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>NUMERO DE ESPIRALES</p>
    </td>
    <td>
    <p>33</p>
    </td>
    <td>
    <p>33</p>
    </td>
    <td>
    <p>33</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>PESO DEL ROLLO APROXIMADO</p>
    </td>
    <td>
    <p>4,200 KGS.</p>
    </td>
    <td>
    <p>4,340 KGS.</p>
    </td>
    <td>
    <p>5,200 KGS.</p>
    </td>
    </tr>
    </tbody>
    </table>
</div>