<div class=" overflow-auto ">
<table border="1" summary="Malla medidas" cellspacing="0" cellpadding="0">
    <caption>Características Generales</caption>
    <tbody>
      <tr>
        <td>
          <p>ALTURA</p>
        </td>
        <td>
          <p>CAL. 10.5</p>
        </td>
        <td>
          <p>CAL.11.0</p>
        </td>
        <td>
          <p>CAL. 11.5</p>
        </td>
        <td>
          <p>CAL. 12.5</p>
        </td>
        <td>
          <p>CAL. 13</p>
        </td>
        <td>
          <p>PVC 10.5</p>
        </td>
        <td>
          <p>PVC 11.0</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>1.0</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>1.25</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>1.50</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>1.75</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>2.00</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>2.50</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>3.00</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
        <td>
          <p>*</p>
        </td>
      </tr>
    </tbody>
  </table>

