<div class="bg-brand h-24 " ></div>
<div class="colors grid grid-cols-10 ">
    <div class="bg-brand-50 text-brand-400" >50</div>
    <div class="bg-brand-100 text-brand-500" >100</div>
    <div class="bg-brand-200 text-brand-600" >200</div>
    <div class="bg-brand-300 text-brand-100" >300</div>
    <div class="bg-brand-400 text-brand-100" >400</div>
    <div class="bg-brand-500 text-brand-100" >500</div>
    <div class="bg-brand-600 text-brand-100" >600</div>
    <div class="bg-brand-700 text-brand-100" >700</div>
    <div class="bg-brand-800 text-brand-200" >800</div>
    <div class="bg-brand-900 text-brand-200" >900</div>
</div>

<style>
    .colors div{
        @apply h-48 grid place-content-center text-5  ;
    }
</style>