<span class="hxd">Heading HXD</span>
<span class="hxc">Heading HXC</span>
<h1 class="hxb">Heading HXB</h1>
<h1 class="hxa">Heading HXA</h1>
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6> 
<p class="hx7">Font Size HX7</p>
<p class="hx8">Font Size HX8</p> 
<p class="hx9">Font Size HX9</p>   